name: List Stars

on:
  workflow_dispatch:

jobs:
  track_stars:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Fetch repository star count
        id: get_stars
        run: |
          STARS=$(curl -s "https://api.github.com/repos/zaproxy/zaproxy" | jq -r '.stargazers_count')
          echo "### zaproxy" >> $GITHUB_STEP_SUMMARY
          echo "STARS=${STARS}"
          echo "STARS=${STARS}" >> $GITHUB_STEP_SUMMARY

          STARS=$(curl -s "https://api.github.com/repos/zaproxy/zap-extensions" | jq -r '.stargazers_count')
          echo "### zap-extensions" >> $GITHUB_STEP_SUMMARY
          echo "STARS=${STARS}"
          echo "STARS=${STARS}" >> $GITHUB_STEP_SUMMARY

          STARS=$(curl -s "https://api.github.com/repos/kingthorin/neonmarker" | jq -r '.stargazers_count')
          echo "### neonmarker" >> $GITHUB_STEP_SUMMARY
          echo "STARS=${STARS}"
          echo "STARS=${STARS}" >> $GITHUB_STEP_SUMMARY
